body{
    margin: 0;
    padding: 0;
}
.text{
    font-size: 2em;
    background: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 3px solid transparent;
    display: inline-block;
    padding: 0.3em 0.6em ;
    min-width: 50px;
}
.text:first-of-type{
    min-width: 255px;
    min-height: 255px;

}